# System
.DS_Store
*.log
*.swp

# IDE
.idea/
*.iml

# Flutter/Dart
.dart_tool/
.pub-cache/
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies

# Android
/android/app/debug
/android/app/profile
/android/app/release

# Web
/web/.sass-cache/

# Env
.env
.env.*